name: Publish Stage

on:
  workflow_dispatch:

jobs:
  publish_stage:
    runs-on: windows-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: true
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          global-json-file: global.json

      - name: Build packages
        env:
          BUILD_TYPE: STAGE
        run: .\build.ps1

      - name: Sign packages with SSL.com eSigner
        uses: sslcom/esigner-codesign@develop
        with:
          command: batch_sign
          username: ${{ secrets.ES_USERNAME }}
          password: ${{ secrets.ES_PASSWORD }}
          totp_secret: ${{ secrets.ES_TOTP_SECRET }}
          dir_path: ${GITHUB_WORKSPACE}/artifacts
          output_path: ${GITHUB_WORKSPACE}/output
          environment_name: PROD
          jvm_max_memory: 4096M

      - name: Verify signatures
        run: dotnet nuget verify .\artifacts\*.nupkg --all

      - name: Publish to Stage
        env:
          NUGET_API_KEY_STAGE: ${{ secrets.NUGET_API_KEY_STAGE }}
        run: .\publish-stage.ps1

      - name: Archive packages
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: artifacts