name: Publish Prod

on:
  workflow_dispatch:

jobs:
  publish_prod:
    runs-on: windows-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: true
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          global-json-file: global.json

      - name: Build packages
        env:
          BUILD_TYPE: PROD
        run: .\build.ps1

      - name: Sign packages with SSL.com eSigner
        uses: sslcom/esigner-codesign@develop
        with:
          command: batch_sign
          username: ${{ secrets.ES_USERNAME }}
          password: ${{ secrets.ES_PASSWORD }}
          credential_id: ${{ secrets.ES_CREDENTIAL_ID }}
          totp_secret: ${{ secrets.ES_TOTP_SECRET }}
          dir_path: artifacts
          output_path: artifacts

      - name: Verify signatures
        run: dotnet nuget verify .\artifacts\*.nupkg --all

      - name: Publish to Prod
        env:
          NUGET_API_KEY_PROD: ${{ secrets.NUGET_API_KEY_PROD }}
        run: .\publish-prod.ps1

      - name: Archive packages
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: artifacts